local/nvim/**/*
local/wallpapers/**/*
config/gh/**/*
config/Kvantum/**/*

!local/nvim/spell/**/*
!local/nvim/UltiSnips/**/*
!local/wallpapers/without_logo.jpg
!config/gh/config.yml
!config/Kvantum/kvantum.kvconfig
