[user]
	email = zeaiter.zeaiter@hotmail.com
	name = zeta-squared
[core]
	editor = vim
[init]
	defaultBranch = master
[credential "https://github.sydney.edu.au"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://git.informatik.tu-cottbus.de"]
	helper = 
	helper = !/usr/bin/glab auth git-credential
